/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;    
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #636363;
    text-align: left;
    line-height: 1.6;    
}

/* FIST */
img {
    border-style: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #262626;    
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #262626;
}

h4 {
    font-size: 1.5625rem;    
    /* font-weight: bold; */
}

button {
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    transition: all 0.5s;
}

button:hover {
    cursor: pointer;
    background-position: right center;
    color: #fff;
    text-decoration: none;
    background-color: #f55f8d;
}

a {
    text-decoration: none;
    outline: none;
    color: #f55f8d;
    background-color: transparent;
    transition: all 1s;
}

a:hover, a:focus, a.active {
    text-decoration: none;
    outline: none;
    color: #dd3e6e  ;
}

li {
    list-style: none;
}

/* HEADER */
header {
    height: 130.25px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    
}

.header__content {
    width: 75%;
    margin: auto;  
    height: 100%;

    display: grid;
    grid-template-columns: 20% 60% 20%;

    /* display: flex;
    justify-content: space-between; */
    align-items: center;
    padding: 20px 0;
}

.header__content ul {
    list-style: none;
    padding-left: 250px;
    display: inline-block;    
}

.header__content ul li{
    display: inline;
    padding: 0 25px;    
}

.header__content a {
    text-decoration: none;
    color: #262626;
    font-size: 15px;
    font-weight: 500;
}

.header__content button {
    padding: 20px 30px;
    border-radius: 30px;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    margin: 0 40px;
    background-size: 200%;
    transition: all 0.5s;
       
}

.header__content button:hover {
    cursor: pointer;
    background-position: right center;
    color: #fff;
    text-decoration: none;
    background-color: #f55f8d;
}

/* TITLE */
.title {
    margin-bottom: 40px;
    text-align: center;
    
}

.title h6 {
    font-size: 22px;
    font-weight: 600;
    color: #f55f8d;    
}

.title h2 {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.2;
}

/* BANER */
.baner {
    background-image: url(../images/pic2.png);
    background-repeat: no-repeat;
    background-position: top;    
    background-size: cover;
    background-size: 100%;    
}

.baner__content {
    width: 75%;
    margin: auto;
}

.baner__content .baner__iner {    
    display: grid;
    grid-template-columns: 58.3% 41.6%;
    position: relative;
    padding-top: 180px;    
}

.baner__content h6 {
    color: #f55f8d;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
}

.baner__content h1 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 900;
    margin-bottom: 20px;
}

.baner__content p {
    font-size: 18px;
    color: #636363;
    margin-bottom: 15px;
}

.baner__content .baner__item-l {
    padding-top: 50px;
}
.baner__content .baner__item-r {
    width: 570px;
    position: relative;
    margin-left: 50px;
}

.baner__content .baner__item-r .move-2 {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.baner__content ul {
    list-style: none;
    color: #636363;
}

.baner__content ul i{
    color: #fff;
    width: 35px;
    height: 35px;
    background-image: linear-gradient(to right, #f55f8d, #f8ae56);
    text-align: center;
    line-height: 35px;
    border-radius: 50px;
    margin-right: 10px;
}

.baner__content ul li {
    padding: 10px 5px 10px 0px;
    font-size: 20px;
}

.baner__content button {
    font-size: 15px;
    color: #fff;
    padding: 20px 35px;    
    border: none;
    border-radius: 40px;
    margin-top: 20px;
}


/* SERVICE */
.service {
    background-image: url(../images/bg2.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 115px;
}

.service .container {
    width: 75%;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.service__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;    
}

.service__item {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.service__item .service__img {
    margin-bottom: 25px;
}

.service__card {
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px;
    transition: all 1s;
}

.service__card:hover {
    transform: translateY(-15px);
}

.service__detail {
    text-align: center;
}

.service__detail h4 {
    margin-bottom: 15px;
}

/* BUSINESS */
.business {
    padding-top: 115px;
    padding-bottom: 85px;
    background-image: url(../images/bg15.png);
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
}

.business .container {
    width: 75%;
    margin: auto;
}

.business__content {
    display: grid;
    grid-template-columns: 50% 50%;
    align-self: center;
}

.business__item {
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.business__item .business__item-l img {
    width: 100%;
    border-radius: 0 100px 100px 0;
}

.business__item-l {
    float: right;
    margin: 60px 70px 60px 0;
    width: 50vw;
    position: relative;
}

.business__text {
    margin-bottom: 15px;
}

.business__text h6 {
    color: #f55f8d;
    font-size: 22px;
}

.business__text h2 {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 800;
    margin-bottom: 20px;
}

.business__text P {
    font-size: 15px;
    line-height: 25px;
}

.business__content ul {
    list-style: none;
    color: #636363;
}

.business__content ul i{
    color: #f55f8d;
    width: 24px;
    height: 24px;
    background-color: #fff;
    text-align: center;
    line-height: 25px;
    border: 1px solid #f55f8d;
    border-radius: 50px;
    margin-right: 10px;
}

.business__content ul li {
    position: relative;
    padding: 8px 5px 8px 0px;
    font-size: 15px;
}

.business__content button {
    font-size: 15px;
    color: #fff;
    padding: 20px 35px;    
    border: none;
    border-radius: 40px;
    margin-top: 20px;
}

/* NUMBER */
.number {
    background-image: url(../images/bg14.png);
    background-color: #fffbf7;
    padding: 80px 0 50px 0;
}

.number .container {
    width: 75%;
    margin: auto;
}

.number__content {    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;    
    margin-right: -15px;
    margin-left: -15px;
}

.number__item {
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.number__item .icon-cell {
    display: inline-block;    
    text-align: center;    
    width: 80px;
    height: 80px;
    line-height: 85px;
    background-image: linear-gradient(to right, #f55f8d, #f8ae56); 
    border-radius: 40px;
    font-size: 45px;
    color: #fff;    
    margin-bottom: 15px;
}

.number__item h2 {
    font-size: 65px;
    color: #f55f8d;
    line-height: 1;
}

.number__item p {
    color: #262626;
    font-size: 18px;
}

/* SHOWCASE */
.showcase {
    background-image: url(../images/bg2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 115px;
    position: relative;
}

.showcase .container {
    width: 75%;
    margin: auto;    
}

.showcase__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 0 -15px 0 -15px;
}

.showcase__item {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.showcase__title {
    margin-bottom: 40px;
}

.showcase__title h6 {
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    color: #f55f8d;
}

.showcase__title h2 {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 800;
}

.showcase__list {
    display: grid;
    grid-template-columns: 22% 78%;
    align-items: center;
    box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 50px 30px 0;
    transition: all 1s;
}

.showcase__list:hover {
    color: #fff;
    background-image: linear-gradient(to right, #f55f8d, #f8ae56);    
}

.showcase__list-icon {
    position: relative;
    width: 80px;
    height: 80px;
    line-height: 70px;    
    text-align: center;    
}

.showcase__list-icon i {
    color: #f55f8d;
    font-size: 80px;    
}

.showcase__list-text h4 {
    font-weight: 800;
    margin-bottom: 10px;
}

.showcase__img {
    margin-right: -80px;
}

/* GALLARY */
.gallary {
    background-image: url(../images/bg17.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 115px;
}

.gallary .container {
    width: 75%;
    margin: auto;
}

.gallary__content {
    display: grid;
    grid-template-columns: 58% 42%;
    margin-right: -15px;
    margin-left: -15px;        
}

.gallary__item {
    position: relative;
    width: 100%;
    padding: 0 15px 30px;       
}

.gallary__item img {
    border-radius: 10px;
    width: 100%;
    height: 100%; 
}

.gallary__item.gallary__3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.galary__list {
    position: relative;
}

.galary__list.list__3 {
    grid-column: 1/span 2;    
}

.list__1, .list__2 {
    padding-bottom: 30px;
}

.list__1 {
    padding-right: 15px;
}

.list__2 {
    padding-left: 15px;
}

.gallary__overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px;
    margin-left: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 96%;
    height: 96%;
    transition: all .5s;
    opacity: 0;
    border-radius: 10px;
    
}

.galary__list.list__1 .gallary__overlay {
    margin: 0 15px 30px 0;
}

.gallary__item:hover .gallary__overlay{
    opacity: 1;
}

.gallary__icon {
    position: absolute;
    top: 25px;
    right: 25px;

    transform: translateY(50px);
    transition: all .5s;
}

.gallary__icon i{
    position: absolute;
    top: 0;
    background: linear-gradient(to right, #f55f8d, #f8ae56);
    color: #fff;
    right: 0;
    font-size: 28px;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    background-size: 200%;
    opacity: 1;
    transition: all 1s;
}

.gallary__text {
    position: absolute;
    left: 25px;
    bottom: 25px;
    color: #fff;
    transform: translateY(50px);
    transition: all .5s;
}

.gallary__text h5 {
    color: #fff;
    font-size: 22px;
    font-weight: 800;
}

.gallary__text .post-author {
    opacity: 0.7;
}

.gallary__item:hover .gallary__icon,
.gallary__item:hover .gallary__text {
    transform: translateY(0);
}

/* PLAN */
.plan {
    background-image: url(../images/bg16.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 115px;
    position: relative;    
}

.plan .title {
    margin-bottom: 20px;
}

.plan .container {
    width: 80%;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.plan__tab{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    background-image: linear-gradient(to right, #f55f8d, #f8ae56);
    
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 235px;
    background-size: 200%;
    padding: 4px;
    position: relative;    
    box-shadow: 0 10px 20px 0 rgba(245, 95, 141, 0.1);    
}

.plan__tab span {
    font-size: 14px;
    font-weight: 500;
    width: 50%;
    text-align: center;
    color: #fff;
    -webkit-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
    height: 42px;
    line-height: 42px;
    cursor: pointer;
    border-radius: 6px;
}

.plan__tab span:active {
    color: #000;
    background-color: #fff;
}

.plan__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-right: -15px;
    margin-left: -15px;
}

.plan__item {
    position: relative;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.plan__card {
    box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
    background-color: #fff;
    padding: 35px 60px;
    border: 3px solid transparent;
    border-radius: 8px !important;
    border-image: none;
    overflow: hidden;
    transition: all 0.5s;
    border-image: 100 round;
}

.plan__card:active,
.plan__card:hover {
    border-image: url(../images/br.png) 1 round;
}

.card-box {
    text-align: center;
}

.plan__content .plan__card h2 {
    margin-bottom: 10px;
    color: #f8ae56;
    font-size: 50px;
    font-weight: 800;
}

.plan__content .plan__card small {
    font-size: 18px;
    color: #262626;
    font-weight: 600;
}

.plan__content .plan__card .card-features {
    padding: 15px 0;
    border-top: 1px solid #E1E1F0;
    margin: 0;
    list-style: none;
}

.plan__content .plan__card .card-features li {
    padding: 5px 0 5px 40px;
    font-size: 18px;
    font-weight: 400;
    color: #262626;
    position: relative;
    text-align: left;
}

.plan__content .plan__card .card-features i {
    font-size: 12px;
    width: 26px;
    height: 26px;
    background: rgba(245, 95, 141, 0.1);
    display: block;
    position: absolute;
    left: 0;
    color: #f55f8d;
    border-radius: 35px;
    text-align: center;
    top: 6px;
    line-height: 26px;
}

.plan__content .plan__card button {
    font-size: 15px;
    color: #fff;
    padding: 20px 35px;    
    border: none;
    border-radius: 40px;    
}

/* CAROUSEL */
.carousel {
    background-image: url(../images/bg17.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 115px;
    padding-bottom: 0;    
}

.carousel .container {
    width: 75%;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;       
}


.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.testimonial-content {    
    text-align: center;    
}
  
.testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: pink;
}
  
.testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
}
.testimonial-comment {
    min-height: 300px;
    width: 100%;
}
.testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
}
.testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
}

.testimonial-4 {
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.testimonial-4.quote-left::before {
    font-family: 'Flaticon';
    top: 10px;
    content: "\f121";
    left: 30px;
    right: auto;
    font-size: 70px;
    color: #f55f8d;
    position: absolute;
    transform: rotate(-180deg);
}

.testimonial-text {
    padding: 15px;
    position: relative;    
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    position: relative;
}

.testimonial-name, 
.testimonial-position {
    display: block;
}

.testimonial-name {
    font-size: 22px;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    color: #000;
    line-height: 26px;
    margin-bottom: 5px;
}

.testimonial-position {
    font-size: 15px;
    color: #f55f8d;
    margin-bottom: 20px;
}


.testimonials-wraper-2 .testimonial-thumbs .testimonial-pic .shape-bx:after {
    background-image: url(../images/pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 35px;
    width: 50px;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #f55f8d;
}
/* END CAROUSEL */

/* BLOG */
.blog {
    background-image: url(../images/bg16.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 115px 0 0;    
}

.blog .container {
    width: 80%;
    margin: auto;
    padding-left: 15px;   
    padding-right: 15px; 
}

.blog .blog-l {
    width: 369.5px !important;
    margin-right: 30px !important;
}

.owl-carousel {
    cursor: grab;
    width: 100%;
}

.owl-carousel, 
.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    user-select: none;
}

.dlab-blog.style-2{
    position: relative;
    background: rgba(245, 95, 141, 0.1);
    border-radius: 0.5rem;
    margin-bottom: 10px;
}

.dlab-blog .dlab-title {
    margin-bottom: 10px;
    line-height: 1.4;
}

.dlab-media,
.dlab-post-media {
    overflow: hidden;
    position: relative;
}

.dlab-media {
    border-radius: 8px;
}

.owl-carousel .owl-item img {
    transform-style: inherit;
    display: block;
    width: 100%;
}

.dlab-media img,
.dlab-post-media img {
    height: auto;
}

.dlab-blog.style-2 .dlab-media + .dlab-info {
    padding: 30px 15px 20px 15px;
}

.dlab-blog.style-2 .dlab-info {
    position: relative;
}

.dlab-blog.style-2 .dlab-meta > ul {
    margin: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.dlab-blog.style-2 .dlab-meta > ul .post-date {
    position: absolute;
    top: -20px;
    left: 15px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    color: #fff !important;
    font-weight: 400;
    line-height: 1;
}

.dlab-blog.style-2 .dlab-meta > ul li {
    font-weight: 400;
    font-size: 14px;
    margin-right: 20px;
    display: flex;
    align-items: center;    
}

.dlab-blog.style-2 .dlab-meta > ul i {
    margin-right: 5px;
    margin-top: -1px;
    font-size: 22px;
    color: #f55f8d;    
}

.dlab-blog .dlab-meta > ul > li.post-author a {
    margin-left: 3px;
}

.dlab-blog.style-2 .dlab-meta > ul li span,
.dlab-blog.style-2 .dlab-meta > ul li a {
    color: inherit;
}

.dlab-blog .dlab-meta > ul > li.post-comment span {
    margin-left: 10px;
}

/* LOGOS */
.logos {
    padding-top: 80px;
    padding-bottom: 50px;
}

.logos .container {
    width: 80%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logos .logo-s {
    width: 169.8px !important;
    margin-right: 30px !important;
}

.clients-carousel.style-2 .clients-logo {
    border-radius: 0.5rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 20px 30px;
    height: 100px;
    display: flex;
    align-items: center;
    transition: all 1s;
}

.clients-logo img {
    width: auto !important;
    margin: auto;
}

.clients-logo .logo-hover  {
    display: none !important;
}

.clients-logo:hover {
    background: linear-gradient(to right, #f55f8d, #f8ae56);
}

.clients-carousel.style-2 .clients-logo:hover {
    box-shadow: 5px 0 30px 0 rgba(245, 95, 141, 0.5);
}

.clients-logo:hover .logo-main {
    display: none;
}

.clients-logo:hover .logo-hover {
    display: block !important;
}

.clients-carousel.style-2 .clients-logo:hover::after {
    opacity: 1;
}

.clients-carousel.style-2 .clients-logo::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: var(--gradient);
    background-size: 200%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 1s;
}

/* FOOTER */
footer {
    background-image: url(../images/bg4.png);
    display: block;
    height: 614px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
}

.footer__style::before {
    content: "";
    background-image: url(../images/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer__style .container {
    width: 75%;
    margin: auto;
}

.footer__style .footer__content {
    padding: 50px 60px;
    background-color: #fff;
    
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0px 30px 0 rgb(0 0 0 / 10%);
    background-image: url(../images/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

.footer__style .footer__item {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-right: -15px;
    margin-left: -15px;
}

.footer__style .footer__item h2 {
    margin-bottom: 8px;
    font-size: 28px;
    text-align: start;
}

.footer__sub .form-group {
    margin-bottom: 0;
    position: relative;
    display: block;
}

.form-group .form-input {
    display: grid;
    grid-template-columns: 82% 18%;
    border-radius: 0.5rem;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);    
    transition: all 1s;
}

.form-group .form-input:hover,
.form-group .form-input:focus {      
    box-shadow: 0 0 80px 0 rgb(0 0 0 / 20%);
    border: 1px solid #f55f8d;
}

.form-group .form-control {
    border-radius: 0.5rem 0 0 0.5rem;
    border: none;
    height: 60px;
    border: 1px solid #cccccc;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    display: block;
    line-height: 1.5;
}

.form-input button {
    padding: 18px 44px;
    display: inline-block;
    border-radius: 0 0.5rem 0.5rem 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #fff;    
    border: none;    
}

/* FOOTER TOP */
footer .footer__top {
    padding: 70px 0 30px;
    background: transparent;
}

footer .footer__top-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-right: -15px;
    margin-left: -15px
}

footer .footer__top-item {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}


footer .widget {
    margin-bottom: 30px;
}

footer .widget-logo {
    margin-bottom: 25px;
}

footer .widget-infor ul li {
    position: relative;
    padding: 8px 0;
    display: flex;
    align-items: center;
    list-style: none;
}

footer .widget-infor ul li i{
    height: 40px;
    width: 40px;
    min-width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background-image: linear-gradient(to right, #f55f8d, #f8ae56);
    display: block;
    border-radius: 50px;
}

footer .widget-infor ul li span {
    opacity: 0.6;
}

footer .widget-title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
    line-height: 1.2;
}

footer .widget-title::before {
    width: 15px;
}

footer .widget-title::before, 
footer .widget-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right, #f55f8d, #f8ae56);
    background-size: 200%;
}

footer .widget-title::after {
    width: 45px;
    left: 20px;
}

footer .widget_services ul {
    color: rgba(255, 255, 255, 0.6);
}

footer .widget_services ul li {
    position: relative;
    padding: 0.5rem 0rem 0.5rem 0.9375rem;
    margin-bottom: 0;
    line-height: 1.25rem;
}

footer .widget_services ul li a {
    color: inherit;
    text-transform: capitalize;
    transition: all 1s;
    position: relative;
}

footer .widget_services ul li a::before {    
    content: "\f105";
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    position: absolute;
    left: 0;
    top: 8px;
    display: block;
    left: -15px;
    top: -2px;
}

footer .widget_services ul li a:hover {
    color: #fff;
}

/* FOOTER BOTTOM */
.footer__style .footer__bottom {
    background-color: #1f343b;
    padding: 15px 0;
}

.footer__bottom-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: -15px;
    margin-left: -15px;    
}

.footer__style .footer__bottom-item {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.footer__style .copyright-text {
    color: rgba(255, 255, 255, 0.5);
}

.footer__bottom-icon li {
    display: inline-block;

}

.footer__bottom-icon li a {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    height: 40px;
    width: 40px;
    line-height: 32px;
    text-align: center;
    border-radius: 50px;
    font-size: 14px;
    margin: 2px 4px;
    
    text-decoration: none;
    outline: none;
}

.footer__bottom-icon li a:hover {
    background-image: linear-gradient(to right, #f55f8d, #f8ae56);
    background-size: 200%;
}

/* BACK TO TOP */
.backToTop {
    /* canh chinh vi tri */
    position: fixed;
    right: 20px;
    bottom: 20px;
    
    display: block;
    width: 50px;
    height: 50px;
    font-size: 1rem;
    color: white;
    background-color: #f55f8d;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    box-shadow: -4px 4px 24px -10px #f55f8d;

    opacity: 0;
    visibility: hidden;
}

.backToTop:hover {
    cursor: pointer;
}

.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
}